<div class="container">
<div class="hero-unit">
	<div id="notices">
	</div>

	<%= form_tag("/contracts", :method => "post", :remote => true, :id => "add_contract", :class => "form-horizontal") do %>

		<div class="control-group">
			<div class="control-group">
		    	<%= label_tag 'name', nil, :class => 'control-label' %>
		    	<div class="controls">
		      		<%= text_field_tag 'name', nil, :placeholder => "Name" %>	
		    	</div>
		  	</div>
		</div>

		<div class="control-group">
			<div class="control-group">
		    	<%= label_tag 'description', nil, :class => 'control-label' %>
		    	<div class="controls">
		      		<%= text_field_tag 'description', nil, :placeholder => "Description" %>	
		    	</div>
		  	</div>
		</div>

		<div class="control-group">
			<div class="control-group">
		    	<%= label_tag 'note', nil, :class => 'control-label' %>
		    	<div class="controls">
		      		<%= text_field_tag 'note', nil, :placeholder => "Note" %>	
		    	</div>
		  	</div>
		</div>

		<div class="control-group">
			<div class="control-group">
		    	<%= label_tag 'contractNumber', 'Contract Number', :class => 'control-label' %>
		    	<div class="controls">
		      		<%= text_field_tag 'contractNumber', nil, :placeholder => "Contract Number" %>	
		    	</div>
		  	</div>
		</div>

		<div class="control-group">
			<div class="control-group">
		    	<%= label_tag 'validFrom', 'Valid from', :class => 'control-label' %>
		    	<div class="controls">
		      		<%= text_field_tag 'validFrom', nil, :placeholder => "Valid from", :class => "datepicker" %>	
		      		<script type="text/javascript">
					  $('.datepicker').datepicker();
					</script>
		    	</div>
		  	</div>
		</div>

		<div class="control-group">
			<div class="control-group">
		    	<%= label_tag 'validTo', 'Valid to', :class => 'control-label' %>
		    	<div class="controls">
		      		<%= text_field_tag 'validTo', nil, :placeholder => "Valid to", :class => "datepicker" %>
		      		<script type="text/javascript">
					  $('.datepicker').datepicker();
					</script>
		    	</div>
		  	</div>
		</div>

		<div class="control-group">
			<div class="control-group">
		    	<%= label_tag 'parentConractId', 'Parent Conract Id', :class => 'control-label' %>
		    	<div class="controls">
		      		<%= text_field_tag 'parentConractId', nil, :placeholder => "Parent Conract Id" %>	
		    	</div>
		  	</div>
		</div>

		<div class="control-group">
			<div class="control-group">
		    	<%= label_tag 'conditions', 'Conditions', :class => 'control-label' %>
		    	<div class="controls">
		      		<%= text_field_tag 'conditions', nil, :placeholder => "Conditions" %>	
		    	</div>
		  	</div>
		</div>

		<div class="control-group">
			<%= submit_tag "Lisa", :remote => true %>
		</div>

	<% end %>
</div>
</div>