<div class="container">

  <div class="hero-unit">
  	<div id="notices">
	</div>
	
    <h1>Customers</h1>
    <table class="table table-hover table-striped table-bordered">
    	<thead>
			<tr>
				<th>
					ID
				</th>

				<th>
					Eesnimi
				</th>

				<th>
					Perenimi
				</th>

				<td>
				</td>

				<td>
				</td>

				<td>
				</td>
			</tr>
		</thead>
		<tbody>
			<% @customers.each do |customer| %>
				<tr>
					<td>
						<%= customer.id %>
					</td>

					<td>
						<%= customer.firstName %>
					</td>

					<td>
						<%= customer.lastName %>
					</td>

					<td>
						<%= link_to "View", customer_path(customer.id) %>
					</td>

					<td>
						<%= link_to "Edit", edit_customer_path(customer.id) %>
					</td>

					<td>
						<%= link_to "Delete", customer_path(customer.id), :confirm => "Are you sure?", :method => "delete", :remote => true, :class => "delete_customer" %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	
	<p><%= link_to "Add a new customer", new_customer_path, :class => 'btn btn-primary btn-large' -%></p>
  </div>

  <hr>

  <footer>
    <p>Hajusarhitektuurid IDU0210 (Sügis 2012)</p>
  </footer>

</div> <!-- /container -->



