<div class="hero-unit">
	<div id="notices">
	</div>

	<%= form_tag("/customers", :method => "post", :remote => true, :id => "add_customer") do %>

		<p>
			<%= label_tag(:firstName, "Eesnimi") %>
			<%= text_field_tag(:firstName) %>
		</p>

		<p>
			<%= label_tag(:lastName, "Perenimi") %>
			<%= text_field_tag(:lastName) %>
		</p>

		<p>
			<%= label_tag(:identityCode, "Isikukood") %>
			<%= text_field_tag(:identityCode) %>
		</p>

		<p>
			<%= label_tag(:cstType, "Kliendi t체체p") %>
			<%= select_tag(:cstType, options_for_select([['', 0], ['1', 1], ['2', 2]])) %>
		</p>

		<p>
			<%= label_tag(:birthDate, "S체nnip채ev") %>
			<%= text_field_tag :birthDate, nil, :class => 'datepicker' %>
			<script type="text/javascript">
			  $('.datepicker').datepicker();
			</script>
		</p>

		<p>
			<%= submit_tag "Lisa", :remote => true %>
		</p>

	<% end %>
</div>