<div class="container">
	<div class="hero-unit">
		<h1>Customer</h1>

		<% if @customer != nil %>
			<table class="table table-hover table-striped table-bordered">
				<tr>
					<td>
						Eesnimi
					</td>

					<td>
						<%= @customer.firstName %>
					</td>
				</tr>

				<tr>
					<td>
						Perenimi
					</td>

					<td>
						<%= @customer.lastName %>
					</td>
				</tr>

				<tr>
					<td>
						ID kood
					</td>

					<td>
						<%= @customer.identityCode %>
					</td>
				</tr>

				<tr>
					<td>
						Kirjeldus
					</td>

					<td>
						<%= @customer.note %>
					</td>
				</tr>

				<tr>
					<td>
						Sünnipäev
					</td>

					<td>
						<%= @customer.birthDate %>
					</td>
				</tr>

				<tr>
					<td>
						Addresses
					</td>

					<td>
						<%= link_to "View customer addresses", addresses_path(:id => @customer.id) %>
					</td>
				</tr>
			</table>
		<% else %>
			<h2>No customer found</h2>
		<% end %>
	</div>

	<hr/>
    <footer>
    	<p>Hajusarhitektuurid IDU0210 (Sügis 2012)</p>
    </footer>
</div>